- content_for :title do
  Update Profile

.form-profile
  %h2 Update Profile
  = form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, role: 'form', class: 'form' } do |f|
    = devise_error_messages!
    %fieldset
      %legend Update Profile
      %ol
        %li
          .form-label= f.label :username
          .form-field= f.text_field :username, autofocus: true
        %li
          .form-label= f.label :email
          .form-field= f.email_field :email
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %li
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        %li
          .form-label= f.label :password
          %em (leave blank if you don't want to change it)
          .form-field= f.password_field :password, autocomplete: "off"
        %li
          .form-label= f.label :password_confirmation
          .form-field= f.password_field :password_confirmation, autocomplete: "off"
        %li
          .form-label= f.label :current_password
          %em (we need your current password to confirm your changes)
          .form-field= f.password_field :current_password, autocomplete: "off"
        %li
          .form-button= f.submit "Update"
  %h3 Cancel my account
  %p Want to cancel your account? Really? OK, here's how:
  #{button_to "Cancel", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
