- content_for :title do
  Register

.form-register
  %h2 Register new account
  = form_for resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form', class: 'form' } do |f|
    = devise_error_messages!
    %fieldset
      %legend Register
      %ol
        %li
          .form-label= f.label :username
          .form-field= f.text_field :username, autofocus: true
        %li
          .form-label= f.label :email
          .form-field= f.email_field :email
        %li
          .form-label= f.label :password
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
          .form-field= f.password_field :password, autocomplete: "off"
        %li
          .form-label= f.label :password_confirmation
          .form-field= f.password_field :password_confirmation, autocomplete: "off"
        %li
          .form-button= f.submit "Register"
  = render "devise/shared/links"
