- content_for :title do
  Search Results
= nav_at '', in: 'tabs_main'

- if @listings.present?
  %ul
  - @listings.each do |listing|
    %li
      = listing.id
      = listing.created_at.strftime('%B %d, %Y')
      = link_to listing.title, listing
      = listing.description
      = listing.city
      = listing.state
      = listing.zipcode
      = listing.country
- else
  %p Sorry, no matching listings found.
