- content_for :title do
  -# FIXME ccm: This needs to be generated.
  Subcategory
= nav_at '', in: 'tabs_main'

- if @listings.present?
  %ul
  - @listings.each do |listing|
    %li
      = listing.id
      = listing.created_at.strftime('%B %d, %Y')
      -# FIXME ccm: Change to title.
      = link_to listing.name, listing
      = listing.description
      = listing.city
      = listing.state
      = listing.zipcode
      = listing.country
- else
  %p Be the first to post!
  = link_to 'Post', new_listing_path, class: 'button btn-blue'
