- content_for :title do
  Unlock Instructions

.form-resend-unlock
  %h2 Didn't receive unlock instructions?
  = form_for resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, role: 'form', class: 'form' } do |f|
    = devise_error_messages!
    %fieldset
      %legend Unlock Instructions
      %ol
        %li
          .form-label= f.label :email
          .form-field= f.email_field :email, autofocus: true
        %li
          .form-button= f.submit "Resend"
  = render "devise/shared/links"
