#top-bar
  .location
    United States
    [
    = link_to 'Change City', mock_home_path
    ]

  %ul.menubar
    %li.menubar-item= link_to 'Login', mock_home_path, class: 'menubar-item-target'
    %li.menubar-item= link_to 'Register', mock_home_path, class: 'menubar-item-target'
    %li.menubar-item
      = link_to 'My Ojala', mock_home_path, class: 'menubar-item-target'
      %i.caret-icon
      %ul.menu
        %li.menu-item= link_to 'My Publishers', mock_home_path, class: 'menu-item-target'
        %li.menu-item= link_to 'Recruitment / CV', mock_home_path, class: 'menu-item-target'
        %li.menu-item= link_to 'Buyers', mock_home_path, class: 'menu-item-target'
        %li.menu-item= link_to 'Individual sellers', mock_home_path, class: 'menu-item-target'
        %li.menu-item= link_to 'Customer Service', mock_home_path, class: 'menu-item-target'
    %li.menubar-item= link_to 'VIP center', mock_home_path, class: 'menubar-item-target'
    %li.menubar-item= link_to 'Help', mock_home_path, class: 'menubar-item-target'
    %li.menubar-item
      = link_to 'History', mock_home_path, class: 'menubar-item-target'
      %ul.menu
        %li.menu-item
          .menu-item-target No browsing history ...
    -# %li.menubar-item= link_to 'Navigation', mock_home_path, class: 'menubar-item-target'
    %li.menubar-item
      .menubar-item-target
        .menu-icon
      %ul.menu
        %li.menu-item= link_to 'Something', mock_home_path, class: 'menu-item-target'
        %li.menu-item= link_to 'Something', mock_home_path, class: 'menu-item-target'
        %li.menu-item= link_to 'Something', mock_home_path, class: 'menu-item-target'
        %li.menu-item= link_to 'Something', mock_home_path, class: 'menu-item-target'
        %li.menu-item= link_to 'Something', mock_home_path, class: 'menu-item-target'

#banner-ad
  1190 x 50

#logo
  = link_to image_tag('logos/logo.png', alt: 'Ojala logo', width: '181', height: '105'), root_path, title: ''

#tiny-ad
  150 x 50

#search
  %span City Search:
  %input
  #search-utility
    %ul
      %li= link_to 'Buy Tickets', mock_home_path
      %li= link_to 'Graduation Photos', mock_home_path
      %li= link_to 'City Dating', mock_home_path
      %li= link_to 'Renovation Renderings so bluntly', mock_home_path
#post
  %button FREE Ads
  = link_to 'Modify/Delete Information', mock_home_path
