%nav{role: "navigation"}
  %ul.tabs
    %li.selected= link_to 'Home', mock_home_path
    %li= link_to 'Jobs', mock_home_path
    %li= link_to 'Rentals', mock_home_path
    %li= link_to 'Housing', mock_home_path
    %li= link_to 'Used Car', mock_home_path
    %li= link_to 'New Car', mock_home_path
    %li= link_to 'For Sale', mock_home_path
    %li= link_to 'Pets', mock_home_path
    %li= link_to 'Local Services', mock_home_path
    %li.right= link_to 'Quick Loan', mock_home_path
    %li.right= link_to 'Help', mock_home_path
    %li.right= link_to 'Join', mock_home_path
