%h3= link_to 'Automotive Services', mock_home_path

%em.c2= link_to 'carpool', mock_home_path
= link_to 'ride wanted', mock_home_path
%br
%em.c2= link_to 'i\'m going / will drive', mock_home_path
= link_to 'chauffeur', mock_home_path
%br
%em.c2= link_to 'learn to drive', mock_home_path
= link_to 'car insurance', mock_home_path

%h5 Maintenance
%em.c2= link_to 'maintenance', mock_home_path
= link_to 'decorative / beauty', mock_home_path
%br
%em.c2= link_to 'modifications', mock_home_path
= link_to 'protective', mock_home_path
%br
%em.c2= link_to 'car accessories', mock_home_path
= link_to 'other »', mock_home_path
