%h3= link_to 'Beauty', mock_home_path

%em.c4= link_to 'spa', mock_home_path
%em.c4= link_to 'slimming', mock_home_path
%em.c4= link_to 'hair', mock_home_path
= link_to 'dance', mock_home_path
%br
%em.c4= link_to 'yoga', mock_home_path
%em.c4= link_to 'nails', mock_home_path
%em.c4= link_to 'facial', mock_home_path
