%h3= link_to 'Business', mock_home_path

%em.c2= link_to 'patent trademark', mock_home_path
= link_to 'financial accounting', mock_home_path
%br
%em.c2= link_to 'taxes', mock_home_path
= link_to 'legal', mock_home_path
%br
%em.c2= link_to 'consulting', mock_home_path
= link_to 'freight logistics', mock_home_path
%br
%em.c2= link_to 'courier insurance', mock_home_path
= link_to 'freight trains', mock_home_path
%br
%em.c2= link_to 'site construction', mock_home_path
= link_to 'network cabling', mock_home_path
%br
%em.c2= link_to 'advertising media', mock_home_path
= link_to 'design planning', mock_home_path
%br
%em.c2= link_to 'packaging', mock_home_path
= link_to 'printing', mock_home_path
%br
%em.c2= link_to 'customized gifts', mock_home_path
= link_to 'exhibition services', mock_home_path
%br
%em.c2= link_to 'translation', mock_home_path
= link_to 'lease', mock_home_path
%br
%em.c2= link_to 'equipment maint', mock_home_path
= link_to 'building', mock_home_path
%br
%em.c2= link_to 'mechanical maint', mock_home_path
= link_to 'business registration', mock_home_path
