%h3= link_to 'Miami Dating', mock_home_path

%em.c2= link_to 'strictly platonic', mock_home_path
= link_to 'casual encounters', mock_home_path
%br
%em.c2= link_to 'women seek women', mock_home_path
= link_to 'women seeking men', mock_home_path
%br
%em.c2= link_to 'men seeking women', mock_home_path
= link_to 'men seeking men', mock_home_path
%br
%em.c2= link_to 'misc romance', mock_home_path
= link_to 'missed connections', mock_home_path
