%h3= link_to 'Dining', mock_home_path

%em.c3= link_to 'takeaway', mock_home_path
%em.c3= link_to 'catering', mock_home_path
= link_to 'gourmet', mock_home_path
%br
%em.c3= link_to 'cake order', mock_home_path
