%h3= link_to 'Education and Training', mock_home_path

%em.c2= link_to 'tutoring agency', mock_home_path
= link_to 'private tutor', mock_home_path
%br
%em.c2= link_to 'language', mock_home_path
= link_to 'arts', mock_home_path
%br
%em.c2= link_to 'vocational', mock_home_path
= link_to 'sports', mock_home_path
%br
%em.c2= link_to 'design', mock_home_path
= link_to 'computer', mock_home_path
%br
%em.c2= link_to 'classes', mock_home_path
= link_to 'abroad', mock_home_path
%br
= link_to 'academic institutions', mock_home_path
