%h3= link_to 'Farming / Livestock', mock_home_path

%em.c2= link_to 'garden flowers', mock_home_path
= link_to 'crops', mock_home_path
%br
%em.c2= link_to 'plant seedlings', mock_home_path
= link_to 'livestock', mock_home_path
%br
%em.c2= link_to 'aquatic products', mock_home_path
= link_to 'feed', mock_home_path
%br
%em.c2= link_to 'pesticide / fertilizer', mock_home_path
= link_to 'veterinary', mock_home_path
%br
%em.c2= link_to 'agent', mock_home_path
= link_to 'farm mach / equip', mock_home_path
%br
= link_to 'processing of agricultural products', mock_home_path
