%h2
  = link_to 'For Sale', mock_home_path
  %span= link_to 'local garage sales', mock_home_path, class: 'red'

%em.c2= link_to 'new ipad 6', mock_home_path
= link_to 'hot product', mock_home_path

%h5 Digital • Mobile • Electronic
%em.c2= link_to 'cell phones', mock_home_path
= link_to 'samsung', mock_home_path
%br
%em.c2= link_to 'apple', mock_home_path
= link_to 'desktop pc', mock_home_path
%br
%em.c2= link_to 'hardware', mock_home_path
= link_to 'monitor', mock_home_path
%br
%em.c2= link_to 'pc peripherals', mock_home_path
= link_to 'laptop', mock_home_path
%br
%em.c2= link_to 'macbook', mock_home_path
= link_to 'lenovo', mock_home_path
%br
%em.c2= link_to 'tablet', mock_home_path
= link_to 'ipad', mock_home_path
%br
%em.c2= link_to 'digital products', mock_home_path
= link_to 'camera', mock_home_path
%br
%em.c2= link_to 'dslr', mock_home_path
= link_to 'game consoles', mock_home_path

%h5 Furniture • Appliances
%em.c2= link_to 'appliances', mock_home_path
= link_to 'refrigerator', mock_home_path
%br
%em.c2= link_to 'ac', mock_home_path
= link_to 'washing mach', mock_home_path
%br
%em.c2= link_to 'furniture', mock_home_path
= link_to 'sofa', mock_home_path
%br
%em.c2= link_to 'bed', mock_home_path
= link_to 'tables', mock_home_path

%h5 Vehicle • Cycle • Marine
%em.c2= link_to 'motorcycles', mock_home_path
= link_to 'yamaha', mock_home_path
%br
%em.c2= link_to 'honda', mock_home_path
= link_to 'bicycles', mock_home_path
%em.c2= link_to 'electric', mock_home_path
= link_to 'atv / utv / snow', mock_home_path
%br
%em.c2= link_to 'boats', mock_home_path
= link_to 'rv / camper', mock_home_path

%h5 Department Store • General
%em.c2= link_to 'clothing', mock_home_path
= link_to 'kitchen', mock_home_path
%br
%em.c2= link_to 'fabric', mock_home_path
= link_to 'bedding', mock_home_path
%br
%em.c2= link_to 'baby toys', mock_home_path
= link_to 'children\'s toys', mock_home_path
%br
%em.c2= link_to 'clothing bags', mock_home_path
= link_to 'watches', mock_home_path
%br
%em.c2= link_to 'shoes', mock_home_path
= link_to 'adult', mock_home_path
%br
%em.c2= link_to 'beauty care', mock_home_path
= link_to ' fitness', mock_home_path
%br
%em.c2= link_to 'tools', mock_home_path
= link_to 'arts and crafts', mock_home_path
%br
%em.c2= link_to 'musical instr', mock_home_path
= link_to 'books', mock_home_path
%br
%em.c2= link_to 'collectibles', mock_home_path
= link_to 'general', mock_home_path
%br
%em.c2= link_to 'wanted', mock_home_path
= link_to 'FREE', mock_home_path, class: 'red'
%br
%em.c2= link_to 'jewelry', mock_home_path
= link_to 'materials', mock_home_path
%br
%em.c2= link_to 'gift cards', mock_home_path
= link_to 'game trading', mock_home_path

%h5 Office Equipment
%em.c2= link_to 'cds / dvd / vhs', mock_home_path
= link_to 'equipment', mock_home_path
%br
%em.c2= link_to 'desk', mock_home_path
= link_to 'printer', mock_home_path
%br
%em.c2= link_to 'used equip', mock_home_path
= link_to 'construct mach', mock_home_path
