%h3= link_to 'Healthcare', mock_home_path

%em.c3= link_to 'dermatology', mock_home_path
%em.c3= link_to 'gynecology', mock_home_path
= link_to 'genital warts', mock_home_path
%br
%em.c3= link_to 'genital herpes', mock_home_path
%em.c3= link_to 'cosmetic', mock_home_path
= link_to 'impotence', mock_home_path
%br
%em.c3= link_to 'infertility', mock_home_path
%em.c3= link_to 'massage', mock_home_path
= link_to 'premature ejac', mock_home_path
