%h3= link_to 'Home', mock_home_path

%em.c3= link_to 'maid service', mock_home_path
%em.c3= link_to 'nanny', mock_home_path
= link_to 'gardening', mock_home_path
%br
%em.c3= link_to 'recycling', mock_home_path
%em.c3= link_to 'laundry', mock_home_path
= link_to 'painting', mock_home_path
%br
%em.c3= link_to 'plumbing', mock_home_path
%em.c3= link_to 'roofing', mock_home_path
= link_to 'security', mock_home_path
%br
%em.c3= link_to 'plants', mock_home_path
%em.c3= link_to 'insurance', mock_home_path
= link_to 'more »', mock_home_path
