%h3= link_to 'Top Industries', mock_home_path

%em.c3a= link_to 'medical / care', mock_home_path
%em.c3b= link_to 'massage', mock_home_path
= link_to 'computer / network', mock_home_path
%br
%em.c3a= link_to 'market / media', mock_home_path
%em.c3b= link_to 'catering', mock_home_path
= link_to 'pharma / biotech', mock_home_path
%br
%em.c3a= link_to 'electrical', mock_home_path
%em.c3b= link_to 'electronic', mock_home_path
= link_to 'advert / exhibit', mock_home_path
%br
%em.c3a= link_to 'depart store', mock_home_path
%em.c3b= link_to 'supermarket', mock_home_path
= link_to 'hospitality / tourism', mock_home_path
%br
%em.c3a= link_to 'warehouse', mock_home_path
%em.c3b= link_to 'logistics', mock_home_path
= link_to 'finance / banking', mock_home_path
%br
%em.c3a= link_to 'sports / fitness', mock_home_path
%em.c3b= link_to 'building', mock_home_path
= link_to 'equip / machinery', mock_home_path
%br
%em.c3a= link_to 'beauty / hair', mock_home_path
%em.c3b= link_to 'art / design', mock_home_path
= link_to 'entertain / leisure', mock_home_path
%br
%em.c3a= link_to 'edu / training', mock_home_path
%em.c3b= link_to 'textile / food', mock_home_path
= link_to 'automotive services', mock_home_path
