%h2
  = link_to 'Jobs', mock_home_path
  %span= link_to 'create online resume', mock_home_path

%em.c4= link_to 'sales', mock_home_path
%em.c4= link_to 'service', mock_home_path
%em.c4= link_to 'salesperson', mock_home_path
= link_to 'clerical', mock_home_path
%br
%em.c4= link_to 'assistant', mock_home_path
%em.c4= link_to 'general labor', mock_home_path
%em.c4= link_to 'front desk', mock_home_path
= link_to 'editor', mock_home_path
%br
%em.c4= link_to 'electrician', mock_home_path
%em.c4= link_to 'cashier', mock_home_path
%em.c4= link_to 'accounting', mock_home_path
= link_to 'makeup', mock_home_path
%br
%em.c4= link_to 'finance', mock_home_path
%em.c4= link_to 'webmaster', mock_home_path
%em.c4= link_to 'welder', mock_home_path
= link_to 'preschool', mock_home_path
%br
%em.c4= link_to 'mechanic', mock_home_path
%em.c4= link_to 'architecture', mock_home_path
%em.c4= link_to 'claims', mock_home_path
= link_to 'engineer', mock_home_path
%br
%em.c4= link_to 'manager', mock_home_path
%em.c4= link_to 'teacher', mock_home_path
%em.c4= link_to 'nurse', mock_home_path
= link_to 'waiter', mock_home_path
%br
%em.c4= link_to 'doctors', mock_home_path
%em.c4= link_to 'cleaning', mock_home_path
%em.c4= link_to 'security', mock_home_path
= link_to 'chef', mock_home_path
%br
%em.c4= link_to 'translation', mock_home_path
%em.c4= link_to 'legal', mock_home_path
%em.c4= link_to 'nanny', mock_home_path
= link_to 'courier', mock_home_path
%br
%em.c4= link_to 'apprentice', mock_home_path
%em.c4= link_to 'guide', mock_home_path
%em.c4= link_to 'housekeeper', mock_home_path
= link_to 'porter', mock_home_path
%br
%em.c4= link_to 'handyman', mock_home_path
%em.c4= link_to 'visa consult', mock_home_path
%em.c4= link_to 'real estate', mock_home_path
= link_to 'part-time', mock_home_path
%br
%em.c4= link_to 'dishwasher', mock_home_path
%em.c4= link_to 'insurance', mock_home_path
%em.c4= link_to 'car wash', mock_home_path
= link_to 'bakers', mock_home_path
%br
%em.c4= link_to 'admin / ofc', mock_home_path
%em.c4= link_to 'logistics', mock_home_path
%em.c4= link_to 'photogr', mock_home_path
= link_to 'delivery', mock_home_path
%br
%em.c4= link_to 'graphic des', mock_home_path
%em.c4= link_to 'hairstylist', mock_home_path
%em.c4= link_to 'auto repair', mock_home_path
= link_to 'web design', mock_home_path
%br
%em.c4= link_to 'beautician', mock_home_path
%em.c4= link_to 'automotive', mock_home_path
%em.c4= link_to 'interior des', mock_home_path
= link_to 'operator', mock_home_path
%em.c4= link_to 'driver', mock_home_path
%em.c4= link_to 'tallymen', mock_home_path
%em.c4= link_to 'property', mock_home_path
= link_to 'more »', mock_home_path
