%h3
  = link_to 'Meet Up', mock_home_path
  %span= link_to 'start a group', mock_home_path

%em.c3a= link_to 'volunteering', mock_home_path
%em.c3b= link_to 'writing', mock_home_path
= link_to 'consciousness', mock_home_path
%br
%em.c3a= link_to 'live music', mock_home_path
%em.c3b= link_to 'fitness', mock_home_path
= link_to 'language / culture', mock_home_path
%br
%em.c3a= link_to 'women\'s social', mock_home_path
%em.c3b= link_to 'education', mock_home_path
= link_to 'technology', mock_home_path
%br
%em.c3a= link_to 'dining out', mock_home_path
%em.c3b= link_to 'lgbt', mock_home_path
= link_to 'crafts', mock_home_path
%br
%em.c3a= link_to 'social', mock_home_path
%em.c3b= link_to 'moms', mock_home_path
= link_to 'entrepreneurship', mock_home_path
