%h3
  = link_to 'New Cars', mock_home_path
  %span= link_to 'new ford fusion', mock_home_path, class: 'red'

%em.c2= link_to 'hot prices', mock_home_path
= link_to 'porsche', mock_home_path
%br
%em.c2= link_to 'highlander', mock_home_path
= link_to 'volvo', mock_home_path
%br
%em.c2= link_to 'land rover', mock_home_path
= link_to 'honda', mock_home_path
%br
%em.c2= link_to 'volkswagen', mock_home_path
= link_to 'tesla', mock_home_path
