%h3
  = link_to 'New Cars', mock_home_path
  %span= link_to 'new Ford Fusion', mock_home_path

%em.c2= link_to 'Hot Price', mock_home_path
= link_to 'Porsche', mock_home_path
%br
%em.c2= link_to 'Highlander', mock_home_path
= link_to 'Volvo', mock_home_path
%br
%em.c2= link_to 'Land Rover', mock_home_path
= link_to 'Honda', mock_home_path
%br
%em.c2= link_to 'Volkswagen', mock_home_path
= link_to 'Tesla', mock_home_path
