%h3
  = link_to 'New Cars', mock_home_path
  %span= link_to 'Ford Fusion', mock_home_path
= link_to 'Hot Price', mock_home_path
%br
%em.c2= link_to 'Mondeo', mock_home_path
= link_to 'Sagitar', mock_home_path
%br
%em.c2= link_to 'Highlander', mock_home_path
= link_to 'Volvo', mock_home_path
%br
%em.c2= link_to 'Land Rover', mock_home_path
= link_to 'Tiggo 5', mock_home_path
%br
= link_to 'New GLA Porsche', mock_home_path
%br
%em.c2= link_to 'Havel', mock_home_path
= link_to 'Tesla', mock_home_path
