%h3
  = link_to 'Part-time', mock_home_path
  %span= link_to '', mock_home_path

%em.c2= link_to '', mock_home_path
= link_to '', mock_home_path
%br
%em.c2= link_to '', mock_home_path
= link_to '', mock_home_path
%br
%em.c2= link_to '', mock_home_path
= link_to '', mock_home_path
%br
%em.c2= link_to '', mock_home_path
= link_to '', mock_home_path

%h5
%em.c2= link_to '', mock_home_path
= link_to '', mock_home_path
%br
%em.c2= link_to '', mock_home_path
= link_to '', mock_home_path
%br
%em.c2= link_to '', mock_home_path
= link_to '', mock_home_path
