%h3= link_to 'Part-time Jobs', mock_home_path

%em.c4= link_to 'students', mock_home_path
%em.c4= link_to 'staff', mock_home_path
%em.c4= link_to 'leaflet dist', mock_home_path
= link_to 'tutoring', mock_home_path
%br
%em.c4= link_to 'translations', mock_home_path
%em.c4= link_to 'graphic des', mock_home_path
%em.c4= link_to 'promotional', mock_home_path
= link_to 'accounting', mock_home_path
%br
%em.c4= link_to 'web design', mock_home_path
%em.c4= link_to 'survey', mock_home_path
%em.c4= link_to 'driver', mock_home_path
= link_to 'more »', mock_home_path
