%h3= link_to 'Pets / Pet Products', mock_home_path

%em.c2= link_to 'dogs', mock_home_path
= link_to 'cats', mock_home_path
%br
%em.c2= link_to 'huskies', mock_home_path
= link_to 'retrievers', mock_home_path
%br
%em.c2= link_to 'birds', mock_home_path
= link_to ' fish', mock_home_path
%br
%em.c2= link_to 'turtle', mock_home_path
= link_to 'aquariums', mock_home_path
%br
%em.c2= link_to 'pet supplies', mock_home_path
= link_to 'pet services', mock_home_path
