%h2= link_to 'Miami Real Estate', mock_home_path

%em.c2= link_to 'housing for rent', mock_home_path
= link_to 'housing wanted',mock_home_path
%br
%em.c2= link_to 'entire rent', mock_home_path
= link_to 'roommate wanted', mock_home_path
%br
%em.c2= link_to 'rooms / shared', mock_home_path
= link_to 'rooms wanted', mock_home_path
%br
%em.c2= link_to 'sublets / temporary', mock_home_path
=link_to 'b&b reservations', mock_home_path
%br
%em.c2= link_to 'vacation rentals', mock_home_path
=link_to 'housing swap', mock_home_path
%br
%em.c2= link_to 'new homes', mock_home_path
= link_to 'owner occupied', mock_home_path
%br
%em.c2= link_to 'rental shops', mock_home_path
= link_to 'shops for sale', mock_home_path
%br
%em.c2= link_to 'office / commercial', mock_home_path
= link_to 'warehouse / land', mock_home_path
%br
= link_to 'storage / parking', mock_home_path

/ .real-estate
/   %h2= link_to 'Miami Real Estate', mock_home_path
/   = link_to 'rental', mock_home_path
/   = link_to 'individual listings', mock_home_path
/   = link_to 'entire rent', mock_home_path
/   = link_to 'roommate', mock_home_path
/   = link_to 'new homes', mock_home_path
/   = link_to 'secondhand housing', mock_home_path
/   = link_to 'rental shops', mock_home_path
/   = link_to 'shops for sale', mock_home_path
/   = link_to 'business transfer', mock_home_path
/   = link_to 'office rental', mock_home_path
/   = link_to 'short-term / daily rental apartments', mock_home_path
/   = link_to 'b&b reservations', mock_home_path
/   = link_to 'workshop / warehouse / land / parking', mock_home_path
