%h2= link_to '<city_name> Real Estate', mock_home_path
%em.c2= link_to 'Rental', mock_home_path
= link_to '100% Individual', mock_home_path
%br
%em.c2= link_to 'Entire Rent', mock_home_path
= link_to 'Roommate Wanted', mock_home_path
%br
%em.c2= link_to 'New House', mock_home_path
= link_to 'Secondhand Housing', mock_home_path
%br
%em.c2= link_to 'Rental Shops', mock_home_path
= link_to 'Shops for Sale', mock_home_path
%br
%em.c2= link_to 'Office Rental', mock_home_path
= link_to 'Business Transfer', mock_home_path
%br
%em.c2= link_to 'Short-term', mock_home_path
= link_to 'Condo', mock_home_path
%br
= link_to 'Bed-And-Breakfast Reservations', mock_home_path
%br
= link_to 'Workshop / Warehouse / Land / Parking', mock_home_path
