%h3= link_to 'Recreation', mock_home_path

%em.c2= link_to 'sports and fitness', mock_home_path
= link_to 'nightclub / bar', mock_home_path
%br
%em.c2= link_to 'foot / massage', mock_home_path
= link_to 'bath / spa', mock_home_path
