%h3
  = link_to 'Resumes', mock_home_path
  %span= link_to 'resume search', mock_home_path

%em.c3= link_to 'sales clerk', mock_home_path
%em.c3= link_to 'graphic design', mock_home_path
= link_to 'receptionist', mock_home_path
%br
%em.c3= link_to 'accountant', mock_home_path
%em.c3= link_to 'warehouse mgt', mock_home_path
= link_to 'assistant', mock_home_path
%br
%em.c3= link_to 'real estate broker', mock_home_path
%em.c3= link_to 'chef', mock_home_path
= link_to 'bank teller', mock_home_path
