%h3= link_to 'Ticketing', mock_home_path

%em.c2= link_to 'tickets', mock_home_path
= link_to 'movie tickets', mock_home_path
%br
%em.c2= link_to 'sports', mock_home_path
= link_to 'attractions', mock_home_path
%br
%em.c2= link_to 'amuse parks', mock_home_path
= link_to 'concerts', mock_home_path
%br
%em.c2= link_to 'cheap flights', mock_home_path
= link_to 'lottery', mock_home_path
%br
%em.c2= link_to 'memberships', mock_home_path
= link_to 'other tickets', mock_home_path
