%h3= link_to 'Tourism', mock_home_path

%em.c3= link_to 'tour miami', mock_home_path
%em.c3= link_to 'deals', mock_home_path
= link_to 'spa', mock_home_path
%br
%em.c3= link_to 'local travel', mock_home_path
%em.c3= link_to 'booking', mock_home_path
= link_to 'sites', mock_home_path
%br
= link_to 'accommodations', mock_home_path
