%h3
  = link_to 'Used Cars', mock_home_path
  %span= link_to 'Nationwide', mock_home_path
%em.c2= link_to 'Dealers', mock_home_path
= link_to '', mock_home_path
%br
%em.c2= link_to '1000-3000', mock_home_path
= link_to '3000-6000', mock_home_path
%br
%em.c2= link_to '6000-12000', mock_home_path
= link_to '12000-24000', mock_home_path
%br
%em.c2= link_to 'Luxury', mock_home_path
= link_to 'New', mock_home_path
%br
%em.c3= link_to 'SUV', mock_home_path
%em.c3= link_to 'Van', mock_home_path
= link_to 'More >>', mock_home_path
%br
%em By Brand
%br
%em.c2= link_to 'Volkswagen', mock_home_path
= link_to 'Honda', mock_home_path
%br
%em.c2= link_to 'Toyota', mock_home_path
= link_to 'Audi', mock_home_path
%br
%em.c2= link_to 'BMW', mock_home_path
= link_to 'Buick', mock_home_path
%br
%em.c2= link_to 'Chevrolet', mock_home_path
= link_to 'Nissan', mock_home_path
%br
%em.c2= link_to 'Mercedes-Benz', mock_home_path
= link_to 'Ford', mock_home_path
%br
%em.c2= link_to 'Mazda', mock_home_path
= link_to 'Suzuki', mock_home_path
%br
%em.c2= link_to 'Citroen', mock_home_path
= link_to 'Kia', mock_home_path
%br
%em Manufacturer Certified Pre-Owned
%br
%em.c2= link_to 'Something', mock_home_path
= link_to 'Something', mock_home_path
%br
%em.c2= link_to 'Something', mock_home_path
= link_to 'Something', mock_home_path
%br
%em.c2= link_to 'Something', mock_home_path
= link_to 'Something', mock_home_path
