%h3
  = link_to 'Used Cars', mock_home_path
  %span= link_to 'nationwide', mock_home_path
  %span= link_to 'local dealers', mock_home_path

%em.c2= link_to '$3000 or less', mock_home_path
= link_to '$3000 - 6000', mock_home_path
%br
%em.c2= link_to '$6000 - 12000', mock_home_path
= link_to '$12000 - 24000', mock_home_path
%br
%em.c2= link_to 'luxury', mock_home_path
= link_to 'suv', mock_home_path
%br
%em.c2= link_to 'truck', mock_home_path
= link_to 'more »', mock_home_path

%h5 By Brand
%em.c2= link_to 'volkswagen', mock_home_path
= link_to 'honda', mock_home_path
%br
%em.c2= link_to 'toyota', mock_home_path
= link_to 'audi', mock_home_path
%br
%em.c2= link_to 'bmw', mock_home_path
= link_to 'buick', mock_home_path
%br
%em.c2= link_to 'chevrolet', mock_home_path
= link_to 'nissan', mock_home_path
%br
%em.c2= link_to 'mercedes-benz', mock_home_path
= link_to 'for', mock_home_path
%br
%em.c2= link_to 'mazda', mock_home_path
= link_to 'suzuki', mock_home_path
%br
%em.c2= link_to 'citroen', mock_home_path
= link_to 'kia', mock_home_path

%h5 Manufacturer Certified Pre-Owned
%em.c2= link_to 'Something', mock_home_path
= link_to 'Something', mock_home_path
%br
%em.c2= link_to 'Something', mock_home_path
= link_to 'Something', mock_home_path
%br
%em.c2= link_to 'Something', mock_home_path
= link_to 'Something', mock_home_path
