- content_for :title do
  Home
= nav_at 'Home', in: 'tabs_main'

.listings
  .col1
    = render 'pages/mock/real_estate'
    .line
    = render 'pages/mock/used_cars'
    .line
    = render 'pages/mock/new_cars'
    .line
    = render 'pages/mock/auto_services'
    .line
    = render 'pages/mock/education_training'

  .col2
    = render 'pages/mock/for_sale'
    .line
    = render 'pages/mock/pets'
    .line
    = render 'pages/mock/tickets'

  .col3
    = render 'pages/mock/jobs'
    .line
    = render 'pages/mock/industries'
    .line
    = render 'pages/mock/part_time_jobs'
    .line
    = render 'pages/mock/resumes'
    .line
    = render 'pages/mock/meet_up'
    .line
    = render 'pages/mock/dating'

  .col4
    = render 'pages/mock/local_services'
    .line
    = render 'pages/mock/home'
    .line
    = render 'pages/mock/tourism'
    .line
    = render 'pages/mock/business'
    .line
    = render 'pages/mock/recreation'
    .line
    = render 'pages/mock/healthcare'
    .line
    = render 'pages/mock/dining'
    .line
    = render 'pages/mock/farming_livestock'
    .line
    = render 'pages/mock/beauty'
