- content_for :title do
  Home
= nav_at 'Home', in: 'tabs_main'

.col1
  = render 'pages/mock/real_estate'
  .line
  = render 'pages/mock/used_cars'
  .line
  = render 'pages/mock/new_cars'
  .line
  = render 'pages/mock/auto_services'
  .line
  = render 'pages/mock/education_training'

.col2
  = render 'pages/mock/for_sale'
  .line
  = render 'pages/mock/pets'
  .line
  = render 'pages/mock/tickets'
  .line

.col3
  = render 'pages/mock/jobs'
  .line
  = render 'pages/mock/industries'
  .line

.col4

