- content_for :title do
  Home
= nav_at 'Home', in: 'tabs_main'

.col1
  = render 'pages/mock/real_estate'
  .line
  = render 'pages/mock/used_cars'
  .line
  = render 'pages/mock/new_cars'

.col2
  %h3= link_to '', mock_home_path
  %span.2c1= link_to '', mock_home_path
  %span.2c2= link_to '', mock_home_path
  %br
  %span.2c1= link_to '', mock_home_path
  %span.2c2= link_to '', mock_home_path
  %br
  %span.2c1= link_to '', mock_home_path
  %span.2c2= link_to '', mock_home_path
  %br
  %span.2c1= link_to '', mock_home_path
  %span.2c2= link_to '', mock_home_path
  %br
  %span.2c1= link_to '', mock_home_path
  %span.2c2= link_to '', mock_home_path
  %br
  %span.2c1= link_to '', mock_home_path
  %span.2c2= link_to '', mock_home_path

.col3
  %h3= link_to '', mock_home_path
  %span= link_to '', mock_home_path
  %span= link_to '', mock_home_path
  %br
  %span= link_to '', mock_home_path
  %span= link_to '', mock_home_path
  %br
  %span= link_to '', mock_home_path
  %span= link_to '', mock_home_path
  %br
  %span= link_to '', mock_home_path
  %span= link_to '', mock_home_path
  %br
  %span= link_to '', mock_home_path
  %span= link_to '', mock_home_path
  %br
  %span= link_to '', mock_home_path
  %span= link_to '', mock_home_path

.col4
  %h3= link_to '', mock_home_path
  %span= link_to '', mock_home_path
  %span= link_to '', mock_home_path
  %br
  %span= link_to '', mock_home_path
  %span= link_to '', mock_home_path
  %br
  %span= link_to '', mock_home_path
  %span= link_to '', mock_home_path
  %br
  %span= link_to '', mock_home_path
  %span= link_to '', mock_home_path
  %br
  %span= link_to '', mock_home_path
  %span= link_to '', mock_home_path
  %br
  %span= link_to '', mock_home_path
  %span= link_to '', mock_home_path
