- content_for :title do
  Home
= nav_at 'Home', in: 'tabs_main'

.listings
  .col1
    -# FIXME ccm: City needs to be dynamically generated.
    -# FIXME ccm: Refactor into helper.
    %h2= link_to 'Miami ' + @real_estate.name, category_path(@real_estate)
    - @real_estate.subcategories.each_with_index do |subcategory, index|
      - if index.even?
        %em.c2= link_to subcategory.name, category_subcategory_path(@real_estate, subcategory)
      -# FIXME ccm: Trying to eliminate %br from last entry.
      -# if index.odd? && index == index[-1]
        =#  link_to subcategory.name
      - if index.odd?
        = link_to subcategory.name, category_subcategory_path(@real_estate, subcategory)
        %br
    .line
    %h3
      = link_to @used_cars.name, category_path(@used_cars)
      %span= link_to 'nationwide'
      %span= link_to 'local dealers'
    - @used_cars.subcategories.each_with_index do |subcategory, index|
      - if index.even?
        %em.c2= link_to subcategory.name, category_subcategory_path(@used_cars, subcategory)
      - if index.odd?
        = link_to subcategory.name, category_subcategory_path(@used_cars, subcategory)
        %br
    .line
    %h3
      = link_to @new_cars.name, category_path(@new_cars)
      %span= link_to 'new ford fusion', mock_home_path, class: 'red'
    - @new_cars.subcategories.each_with_index do |subcategory, index|
      - if index.even?
        %em.c2= link_to subcategory.name, category_subcategory_path(@new_cars, subcategory)
      - if index.odd?
        = link_to subcategory.name, category_subcategory_path(@new_cars, subcategory)
        %br
    .line
    = render 'pages/mock/auto_services'
    .line
    = render 'pages/mock/education_training'

  .col2
    = render 'pages/mock/for_sale'
    .line
    = render 'pages/mock/pets'
    .line
    = render 'pages/mock/tickets'

  .col3
    = render 'pages/mock/jobs'
    .line
    = render 'pages/mock/industries'
    .line
    = render 'pages/mock/part_time'
    .line
    = render 'pages/mock/resumes'
    .line
    = render 'pages/mock/meet_up'
    .line
    = render 'pages/mock/dating'

  .col4
    = render 'pages/mock/local_services'
    .line
    = render 'pages/mock/home'
    .line
    = render 'pages/mock/tourism'
    .line
    = render 'pages/mock/business'
    .line
    = render 'pages/mock/recreation'
    .line
    = render 'pages/mock/healthcare'
    .line
    = render 'pages/mock/dining'
    .line
    = render 'pages/mock/farming_livestock'
    .line
    = render 'pages/mock/beauty'
