!!!
%html.no-js{lang: 'en'}
  = render 'layouts/tablet/head'
  %body
    #wrapper
      %header{role: 'banner'}
        .container
          = render 'layouts/tablet/logo'
          = render 'layouts/tablet/navigation'
      #main{role: 'main'}
        .container
          = yield
      = render 'layouts/tablet/footer'
    = render 'layouts/tablet/scripts'
