!!!
%html.no-js{lang: 'en'}
  = render 'layouts/desktop/head'
  %body
    #wrapper
      = render 'layouts/desktop/browsehappy'
      %header{role: 'banner'}
        .container
          = render 'layouts/desktop/top_bar'
          = render 'layouts/desktop/banner_ad'
          = render 'layouts/desktop/banner_main'
          = yield :tab_navigation
      #main{role: 'main'}
        .container
          = yield
      = render 'layouts/desktop/footer'
    = render 'layouts/desktop/scripts'
