!!!
%html.no-js{lang: 'en'}
  = render 'layouts/desktop/head'
  %body
    #wrapper
      = render 'layouts/desktop/browsehappy'
      %header{role: 'banner'}
        .container
          = render 'layouts/desktop/splash_banner'
      #main{role: 'main'}
        .container
          %p PHONE Splash splash splash
          = yield
      = render 'layouts/desktop/footer'
    = render 'layouts/desktop/scripts'
